*{margin: 0;padding:0;}
body{font-size:14px;}
nav{position:relative;height:480px;width:100%;background:url(../img/1.jpg);background-size:cover;background-position: center; }
nav>div{position:absolute;left:50%;top:50%;margin:-50px 0 0 -50px;}
nav div div{background:url(../img/head.jpg);background-size:cover;border-radius: 50px;width:100px;height:100px;cursor: pointer;}
nav h1{margin:auto 0;color:rgb(255,255,255);font-size:2em;line-height:2.4;text-align: center;}
.main{margin:0 auto;width:80%;}
.content-item{margin:0 0 1px 0;}
.content-item h2{background:#9F79EE;color:#ffffff;line-height: 2.4em;padding:0 2em;cursor: pointer;}
footer{text-align: center;color:rgb(120,120,120);line-height: 3;}
.content-item>div{padding:0 2em;}
