@charset "utf-8";
/*css reset*/
*{margin:0;padding:0;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{word-break: break-word; font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
fieldset,img{border:none;}
input,img{vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
[hidden],template {display: none;}
mark {background: #ff0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: normal;font-weight: normal;}
a {background: transparent;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
a:link,a:visited,ins {text-decoration: none;color: rgb(93,93,93);}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
button,input,select,textarea {font-family: inherit;font-size: 100%;}
button,input{-webkit-appearance: none; border-radius: 0;}
button[disabled],html input[disabled] {cursor: default;}

/*common css*/
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}
.hidden{display: none;}
.invisible{visibility: hidden;}
.abs-invisible{visibility: hidden; position: absolute;}
.outer-container{overflow: hidden;}
.flex-center{display: -webkit-box;  /* 老版本语法: Safari,  iOS, Android browser, older WebKit browsers. */  display: -ms-flexbox;  /* 混合版本语法: IE 10 */ display: -webkit-flex;  /* 新版本语法： Chrome 21+ */ display: flex;       /* 新版本语法： Opera 12.1, Firefox 22+ */ -webkit-box-align: center;  /*老版本语法*/ -ms-flex-align: center;  /*混合版本语法*/ -webkit-align-items: center;  /*新版本语法*/ align-items: center; -webkit-box-pack: center;   /*老版本语法*/ -ms-flex-pack: center;  /*混合版本语法*/ -webkit-justify-content: center;    /*新版本语法*/ justify-content: center;}
.flex-vertical{flex-direction: column; -ms-flex-direction: column; -webkit-box-orient: vertical;}
.d-msg-alert-box{width:220px; position:fixed; top: 40%; left: 50%; z-index: 1000; display: table; margin-left: -120px; padding: 20px 10px; font-size: 14px; font-family: "microsoft yahei"; color: #fff; background-color: #000; opacity: 1; -moz-box-shaow: 0 0 2px 2px; -webkit-box-shadow: #000 0 0 2px 2px; box-shadow: #000 0 0 2px 2px; border-radius:4px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; -webkit-transition: all linear .4s; transition: all linear .4s;}
.d-msg-alert-box .d-inner{display: table-cell; vertical-align: middle; text-align: center; line-height: 1.6;}
.d-alert-hide{opacity: 0;}
.j_m_car{position: fixed; right: 0; bottom: 0; z-index: 1000; display: none;}
.j_m_car a{display: block; width: 42px; height: 42px; background: url(http://img14.360buyimg.com/cms/jfs/t184/80/1363953149/1647/7b927244/53a93e52Nc378feb4.png) no-repeat center; background-size: contain;}
.j_m_car i{display: none; position: absolute; right: 0; top: 0; width: 24px; height: 14px; line-height: 14px; font-size: 12px; text-align: center; color: #fff; background-color: #e4393c; border-radius: 7px;}
.j_m_car i.shake{-webkit-animation: shakeSelf 0.8s ease; animation: shakeSelf 0.8s ease;}


