@charset "utf-8";
/*css reset*/
/**{margin:0;padding:0;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{word-break: break-word; font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
fieldset,img{border:none;}
input,img{vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
[hidden],template {display: none;}
mark {background: #ff0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: normal;font-weight: normal;}
a {background: transparent;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
a:link,a:visited,ins {text-decoration: none;}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
button,input,select,textarea {font-family: inherit;font-size: 100%;}
button,input{-webkit-appearance: none; border-radius: 0;}
button[disabled],html input[disabled] {cursor: default;}*/

/*common css*/
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}