@charset "utf-8";
body{color:pink11111111;}
.cen{width: 990px;margin:0 auto;}

.w-index{
    position:relative;

 }

.w-index h1{border:1px solid red;}

.w-index header .index-logo{width: 180px;height: 45px;}

.w-index header .index-logo img{width: 100%;height: 100%;}

.w-index header nav{float:left;}

.w-index header nav .item{float:left;padding:0 20px;}

.w-index header .decripe{float:right;}

.w-index section .about-me{text-align:center;}

.w-index section .content li{list-style-type:decimal;}

.w-index iframe{color:red;}

.w-index #footer_frame{position:fixed;bottom:0;}

.w-index footer{background: #555;text-align:center;line-height: 40px;width:100%;color:#fff;} 
