@charset "utf-8";
/*动画模块*/
@keyframes WYProtate
{
from {transform: rotate(00deg);}
to {transform: rotate(360deg);}
}

@keyframes mymove1 {
  0% {
    width: 4.825rem;
    height: 3rem; }
  /*25%     {width: 4.825rem;height: 3rem;}*/
  50% {
    width: 6.825rem;
    height: 3.58rem; }
  /*75%    {width: 4.825rem;height: 3rem;}*/
  100% {
    width: 4.825rem;
    height: 3rem; } }
    @keyframes blink
    {
    from {height:0;}
    to {height:28px;}
    }
/*jd初始化*/
.user-wrapper1014{
      font-size:16px;
      
      a {display:block;}
    .span-div{display:block;}
    .user-footer{height: 50px;}
    .user-hide{display:none;}
    .user-abs{position: absolute;}
    .user-rev{position: relative;}
    .cen{width: 900px;margin:0 auto;}
    a{color:#fff;}
    /*css正文*/
    background: #9a9a9a;

    .cen{width: 1000px;margin:0 auto;}
    .user-header{
        width:100%;overflow:hidden;
        background:#ddd;
        .user-anims{
            .user-anim{float:left;width: 250px;height: 300px;border:1px solid #555;}
            .user-anim0{
                /*需要js支持，不然有点击不动的bug*/
               .user-circle{width: 204px;height: 204px;background: #fc325e;background:linear-gradient(to top, blue , red);border-radius:102px;position:absolute;z-index:2;animation: WYProtate 5s linear infinite;
                   img{position:absolute;top:11%;left:18%;}
               }
               .user-circle-text{width: 204px;height: 204px;border-radius:102px;position:absolute;z-index:3;text-align:center;color:#fff;}
               .text{width:150px;margin:82px auto;} 
            }
            /*js支持保持兼容性*/
            .user-anim1{

                .whq-less-power{
                    width: 100px;height: 20px;background: #4f4f4f;
                    position:absolute;
                    top:200px;
                    left:110px;
                    transition: 0.3s all ease 0.6s;
                }
                /*.touming{opacity:0;}*/
                .whq-less-power_anim{
                    top:20px;left:0px;
                }
            }
            .user-anim2{
                .user-scoll-img{width: 150px;height: 150px;cursor: pointer;backface-visibility: hidden;}
                .reverse .user-scoll-img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transition: all 0.25s linear; }
                  .img_front {background: #3d3d3d;}
                  .img_reverse {transform: rotateX(180deg);}
                   .img_anim .img_front {
                    transform: rotateX(-180deg); }
                   .img_anim .img_reverse {
                    background: #7a7a7a;
                    transform: rotateX(0deg);
                     }
            }
            .user-anim3{
                .animImg{position:absolute;top:0;left:0;}
            }
            
        }
        
    }
        
    

    .content{
        
        .user-sales{
            .user-sale{
                float:left;overflow:hidden;
                .user-goods{
                    margin:10px;
                }
            }
            .user-sale { display:block; position: relative; 
                a{display:block;}
            }
            /*闪光滑动*/
            .user-sale0{
                .user-goods{
                    .blink { content: ""; position: absolute; width:50px; height: 100%; top: 0; left: -80%; overflow: hidden;display:block;
                                background: linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.5)50%, rgba(255,255,255,0)100%);
                                transform: skewX(-35deg);
                                }
                }
                .user-goods:hover .blink { left: 150%; transition: left 1s ease 0s; }
            }
            /*划过放大*/
            .user-sale1{
                .user-goods{overflow:hidden;}
                .user-goods:hover{
                    img{
                        transform: scale(1.05);
                        transition: all 1.5s;
                    }
                };
                
            }
            /*划过显出*/
            .user-sale2{
                .user-goods{
                    /*.user-w-hide{display:none;}*/
                    overflow:hidden;
                    .user-w-hide{position:absolute;top: 0;right: 0;width: 100%;height: 100%;opacity:0;}
                    .user-zhezhao a{position: relative;display:block;}  
                    .user-over-pic img{transition: all 1.5s;}
                }
                .user-goods:hover {
                    .user-over-pic img{transform: scale(1.05);}
                                       
                }
                .user-hide-pic{
                    background: url(../../images/未标题-1_01_03.png);
                    .user-erweima{
                        width: 93px;height: 93px;
                        position:absolute;
                        top:0;left:0;right:0;bottom:0;
                        margin:auto;
                    }
                }
                /*.user-hide-pic{transition: all 0.25s linear;}*/
                .anim{
                    transition: all 0.5s linear;
                }
                
            }
            /*划过边框*/
            .user-sale3{
                .user-goods {
                    float:left;margin:10px;
                    transition: 0.5s;
                }
                .user-goods:hover{
                    box-shadow: 0px 0px 10px 0px #fff;
                                       
                }
                
            }
            /*遮罩放大*/
            .user-sale4{
                .user-goods {
                    width: 236px;height:338px;overflow:hidden;
                    position:relative;
                    a{position:absolute;top:0;left:0;width:100%;height:100%;}
                    .scale-img{position:absolute;top:0;left:0;width:100%;height:100%;}
                    .scale-img:hover img{
                        
                    }
                }
                .user-goods:hover .scale-img img{
                    transition:all 0.5s  ;
                    transform:scale(1.05);
                }
                

                
            }
            .user-sale4{overflow:visible;}
            /*遮罩放大*/
            .user-sale5{
                position:relative;
                .anim{animation: mymove1 1s linear  3;
                    width: 4.825rem;
                    height: 3rem;
                    position:absolute;top:100px;
                    img{width: 100%;height: 100%;}

                }
            }
            /*划过淡遮盖*/
            .user-sale6{
                a{position:relative;}
                .text{
                    box-sizing:border-box;opacity:0;
                    background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);padding:0 45px;word-wrap:break-word;width:240px;height:338px;top:0;
                    transition:all 1s;
                    -moz-transition:all 1s; /* Firefox 4 */
                    -webkit-transition:all 1s; /* Safari and Chrome */
                    -o-transition:all 1s; /* Opera */
                    .title{opacity:1;margin:25px 0;font-size: 20px;}
                    .kuan{width:100%;height:14px;background:rgb(206,206,206);margin-top:54px;}
                    .ze{width:100%;height:1px;background:rgb(206,206,206);}
                    .title-name{text-align:center;}
                    

                }
                .text:hover{opacity:1;}
                .text{display:none\9;}
            }
            /*icon]闪动*/
            .user-sale7{
                a{
                width: 100%;height: 100%;
                .w31-container{left:76px;top:333px;}
                .wt0{left:70px;}
                .wt1{left:65px;}
                .w31-container{width: 18px;height: 28px;overflow:hidden;}
                .w31-container{ 
                    position:absolute;top:335px;left:85px;
                animation: blink 1s infinite ease ;
                -webkit-animation:blink 1s infinite ease;
                    } 
                }   
            }
            /*鼠标移动到时点击N次*/
            .user-sale8{
                position:relative;

                .anim{
                    /*animation: mymove1 1s linear infinite;
                    animation-play-state:paused;*/
                    
                    transition: 1s all ;
                    
                    width: 6.825rem;
                    height: 3.58rem; 
                    position:absolute;top:100px;
                    img{width: 100%;height: 100%;}

                }
                .animate{
                    width: 4.825rem;
                    height: 3rem;


                }
            }
            .user-sale9 img{
                transition:all 0.3s;
            }
            .user-sale9:hover img{
                top:-5px;position:relative;

            }
            .user-sale10{
                .user-goods{
                width: 240px;height: 338px;}
                .first-a{z-index:2;top:0;left:0;}
                .bg{background: rgba(255, 255, 255, 0.3);transition:1s background-color;}
                .bg{
                    width: 100%;height: 100%;top:0;left:0;z-index:1;
                }
            }
            .user-sale10:hover .bg{
                background: rgba(255, 255, 255, 0.7)
                

            }
            .user-sale11{
                .user-goods{
                width: 240px;height: 338px;}
                .first-a{z-index:2;top:0;left:0;}
                .bg{background: rgba(255, 255, 255, 0.7);transition:1s background-color;}
                .bg{
                    width: 100%;height: 100%;top:0;left:0;z-index:1;
                }
            }
            .user-sale11:hover .bg{
                background: rgba(255, 255, 255, 0.3)
                

            }
            .user-sale12{
                img{transition:1s all;}
            }
            .user-sale12:hover img{
                opacity:0.7;
                

            }
            .user-sale13{
                a{width: 240px;height: 338px;}

                .aa{position:relative;top:50%;left:50%;transform:translate(-50%, -50%);}
            }
            
            .user-sale13:hover .aa{
                
                width:105%;
                

            }



            
        }
        
    }
    .user-animation-model{
        .user-lunbo-container{
            .user-lunbo{
                width:30%;overflow:hidden;

                li{
                    width: 100%;position:absolute;transition:1s all;left:0;
                    a{display:block;width: 100%;height:3rem;
                        img{width: 100%;height:100%;}
                    }

                }
                li.user-prev{left:-100%;}
                li.user-next{left:100%;}
            }
        }

    }
    
    
    
    
}
   .aa{position:relative;top:50px;left:50px;}