@charset "utf-8";
/*css reset*/
*{margin:0;padding:0;}
html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{word-break: break-word; font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0);}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,ol,li{list-style:none;}
em,i{font-style:normal;}
fieldset,img{border:none;}
input,img{vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display: block;}
[hidden],template {display: none;}
mark {background: #ff0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: normal;font-weight: normal;}
a {background: transparent;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
a:link,a:visited,ins {text-decoration: none;color: rgb(93,93,93);}
sub,sup {font-size: 75%; line-height: 0; position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
blockquote,q{quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none;}
button,input,select,textarea {font-family: inherit;font-size: 100%;}
button,input{-webkit-appearance: none; border-radius: 0;}
button[disabled],html input[disabled] {cursor: default;}

/*common css*/
.clearfix:after{display:block;content:'';clear:both;visibility:hidden;}
/*#__bs_notify__{width:100px;height:100px;border-radius:50px;position:fixed;top:0;left:0;right:0;bottom:0;margin:0;}*/
#__bs_notify__ { top:95% !important; right: 10px !important; border-radius: 15px !important; height:60px !important; }
